<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<a href="/campgrounds/new">Create new campground</a>
<ul>
  <% for (let campground of campgrounds) { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <% if (campground.images.length) { %>
        <img class="img-fluid" src="<%= campground.images[0].url %>" />
        <% } else { %>
        <img
          class="img-fluid"
          src="https://res.cloudinary.com/tom1903/image/upload/v1616653138/YelpCamp/vo2vmp2fhfjbhrekxk7n.jpg"
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <h4 class="card-title">
          <%= campground.name %> -
          <span class="fs-5"><%= campground.location %></span>
        </h4>
        <p class="card-text">
          <%= campground.description.slice(0, 210) + '...' %>
        </p>

        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"
          >View Camp</a
        >
      </div>
    </div>
  </div>
  <% } %>
</ul>
